@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  src: local("TT Lakes"), url("/1.6/fonts/TTLakes-Medium.woff"), url("/1.6/fonts/TTLakes-Medium.ttf"), url("/1.6/fonts/TTLakes-Medium.eot");
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  src: local("TT Lakes"), url("/1.6/fonts/TTLakes-Bold.woff"), url("/1.6/fonts/TTLakes-Bold.ttf"), url("/1.6/fonts/TTLakes-Bold.eot");
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 400;
  src: local("TT Lakes"), url("/1.6/fonts/TTLakes-Regular.woff"), url("/1.6/fonts/TTLakes-Regular.ttf"), url("/1.6/fonts/TTLakes-Regular.eot");
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  src: local("TT Lakes"), url("/1.6/fonts/TTLakesCondensed-Medium.woff"), url("/1.6/fonts/TTLakesCondensed-Medium.ttf"), url("/1.6/fonts/TTLakesCondensed-Medium.eot");
}
@media screen and (max-width: 320px) {
  .header {
    display: flex;
    min-width: 320px;
    height: 88px;
    background: #ffffff;
    border-bottom: 1px solid #d9fff5;
  }
  .header-button__burger {
    position: absolute;
    left: 16px;
    top: 24px;
    height: 40px;
    width: 40px;
    background-image: url("/1.6/img/burger.svg");
    border-radius: 20px;
  }
  .header-button__divider1 {
    position: absolute;
    left: 186px;
    top: 28px;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background: #eaeaea;
  }
  .header-button__repair {
    position: absolute;
    left: 208px;
    top: 24px;
    height: 40px;
    width: 40px;
    background-image: url("/1.6/img/repair.svg");
    border-radius: 20px;
  }
  .header-button__checkstatus {
    position: absolute;
    left: 264px;
    top: 24px;
    height: 40px;
    width: 40px;
    background-image: url("/1.6/img/checkstatus.svg");
    border-radius: 20px;
  }
  .header-button__text, .header-button__text2, .header-button__call, .header-button__chat, .header-button__profile, .header-button__divider2 {
    display: none;
  }
  .button {
    border: none;
  }
  .img-group {
    position: absolute;
    left: 72.7260742188px;
    top: 18.5925292969px;
    height: 50.8148155212px;
    width: 96.5481491089px;
    margin: 0;
    background-image: url("/1.6/img/Group.svg");
  }
}
@media screen and (max-width: 320px) {
  .main {
    width: 320px;
    min-height: 509px;
    background-color: #f8f8f8;
  }
}
@media screen and (max-width: 320px) {
  .main__title {
    position: absolute;
    height: 40px;
    width: 304px;
    left: 0px;
    top: 112px;
  }
  .main__title-text {
    position: absolute;
    height: 40px;
    width: 288px;
    left: 16px;
    top: 0px;
    margin: 0;
    font-family: TT Lakes;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6000000238px;
    text-align: left;
  }
  .main__title-icon {
    position: absolute;
    height: 40px;
    width: 4px;
    left: 0px;
    top: 0px;
    background: #41f6d7;
    border-radius: 2px;
  }
}
@media screen and (max-width: 320px) {
  .slider {
    position: absolute;
    height: 40px;
    width: 320px;
    left: 16px;
    top: 176px;
  }
  .slider__text-devices {
    position: absolute;
    height: 40px;
    width: 246px;
    left: 0px;
    top: 0px;
  }
  .slider__border-devices {
    border-radius: 6px;
    background: #ffffff;
    border: 2px solid #b8ffec;
  }
  .slider__link-devices {
    position: absolute;
    height: 24px;
    width: 220.1596679688px;
    left: 15px;
    top: 7px;
  }
  .slider__text-services {
    position: absolute;
    height: 40px;
    width: 230px;
    left: 250px;
    top: 0px;
    border-radius: 6px;
  }
  .slider__link-services {
    position: absolute;
    height: 24px;
    width: 191.1784362793px;
    left: 15px;
    top: 7px;
  }
  .slider__text-prices {
    position: absolute;
    height: 40px;
    width: 130.2888946533px;
    left: 482px;
    top: 0px;
  }
  .slider__link-prices {
    position: absolute;
    height: 24px;
    width: 128.1703643799px;
    left: 0px;
    top: 6px;
  }
  .slider__text-special {
    position: absolute;
    height: 40px;
    width: 150px;
    left: 614px;
    top: 0px;
  }
  .slider__link-special {
    position: absolute;
    height: 24px;
    width: 148.8654937744px;
    left: 0px;
    top: 6px;
  }
  .slider__text-brands,
.slider__text-addresses,
.slider__text-reviews {
    display: none;
  }
}
.slider {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  min-height: 90px;
  min-width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider a {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: #7e7e82;
}

@media screen and (max-width: 320px) {
  .container-stori {
    position: absolute;
    height: 322px;
    width: 320px;
    left: 0px;
    top: 227px;
    border-radius: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 16px;
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.200000003px;
    text-align: left;
  }
  .stori__text {
    position: absolute;
    height: 90px;
    width: 288px;
    left: 0px;
    top: 0px;
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.200000003px;
    text-align: left;
  }
  .stori__text-hidden {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */