@media screen and (max-width: 320px) {
  .container-stori {
    position: absolute;
    height: 322px;
    width: 320px;
    left: 0px;
    top: 227px;
    border-radius: 0px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 16px;
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
  .stori {
    &__text {
      position: absolute;
      height: 90px;
      width: 288px;
      left: 0px;
      top: 0px;

      font-family: TT Lakes;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
    }

    &__text-hidden {
      display: none;
    }
  }
}
