@media screen and (max-width: 320px) {
  .main {
    &__title {
      position: absolute;
      height: 40px;
      width: 304px;
      left: 0px;
      top: 112px;
    }
    &__title-text {
      position: absolute;
      height: 40px;
      width: 288px;
      left: 16px;
      top: 0px;
      margin: 0;

      font-family: TT Lakes;
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.6000000238418579px;
      text-align: left;
    }
    &__title-icon {
      position: absolute;
      height: 40px;
      width: 4px;
      left: 0px;
      top: 0px;
      background: #41f6d7;
      border-radius: 2px;
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1439px) {
}
