@media screen and (min-width: 320px) {
  .shedule {
    position: absolute;
    height: 176px;
    width: 320px;
    left: 8px;
    top: 386px;
    border-radius: 0px;
    &__img {
      position: absolute;
      height: 176px;
      width: 320px;
      left: 0px;
      top: 0px;
      border-radius: 0px;
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1439px) {
  .shedule {
    position: absolute;
    height: 208px;
    width: 360px;
    left: 384px;
    top: 240px;
    &__img {
      position: absolute;
      height: 208px;
      width: 360px;
      left: 0px;
      top: 0px;
      border-radius: 6px;
    }
  }
}
